doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        table(class="default", border="1px solid black")
            tr
                th Nombre
                th Precio
                th Imagen

            if hayProductos 
                each val in productos 
                    tr
                        td= val.title
                        td= val.price
                        td 
                            img(src=val.thumbnail)
            else 
                h1 No hay productos    

        br

a(href='/') Volver